nav {
    background-color: #444 ;
    
}
.navbar-brand {
    color: #EEE;
}
.nav-link {
    color: #EEE;
}

.navbar-toggler-icon {
    background-color: #0d6efd;
}

.nav-item {
    margin-right: 3rem;
}